

#author-img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    border: 1px solid white;
}

.comment {

    margin-bottom: 45px;
}

.author-name {

    float:left ;
    margin-left: 15px;

}

.author-time {
    font-size: 12px;
    font-style:italic ;
    color: #aaaaaa;

}

.author-name>h3 {
    margin: 5px 0px;
}

.comment-content {
   clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3m;
}
.comment-title {

     margin-bottom: 40px;
}

.comment-title>span {

    margin-right: 10px;
}

